/* Topo */
.bg-topo{
    background-color: #68627a;
}


.btn-orcamento{
    border: 2px solid #fff;
    background: none;
    position: relative;
    color: #fff;
    z-index: 1;
    border-radius: 30px;
    height: 100%; 
}

.btn-orcamento:hover {
    color: #68627a;
    background: #fff;
    border-color: #fff;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

/* Seção de Serviços */
.bg-servicos {
    background: linear-gradient(131.26deg, #312b45 30%, #ff3859 100%);
}

/* Comfigurações Gerais */

.underline {
    content: '';
    border-top: 2px solid #ff3859;
    width: 70px;
    display: block;
    margin-bottom: 8px;
    margin: 0 auto;
}